src/flows.json
[{"id":"4122357450a08002","type":"tab","label":"Flow 2","disabled":false,"info":" 1. ","env":[]},{"id":"2105200f409d8eae","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"df521596.125698","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[]}],"out":[{"x":749.5,"y":53,"wires":[]},{"x":755,"y":169,"wires":[]}]},{"id":"3250ade96117be0c","type":"group","z":"4122357450a08002","name":"Level","style":{"label":true},"nodes":["179e2722496291ef","7c543bf5887bc3f6","741c83b4b77cb2c1","2f2f66f98182fbfc","666ba0e36da44772","1e1d025390b94559","59226919131213ea","f15db44dca940873"],"x":94,"y":320.288888888889,"w":793.1428571428571,"h":222},{"id":"88bfe5fc9fc6d9b0","type":"group","z":"4122357450a08002","name":"Flow","style":{"label":true},"nodes":["c69882fab715ccd4","fbbf073e058d7c39","f94c8532e361b5ce","406f0218651a0b06","787fb420537a3ba7","61cc6ea8f0d66956","6a98447d298b883b","1e26f8c9506d7469"],"x":94,"y":579,"w":792,"h":222},{"id":"0432f51d885ffb86","type":"group","z":"4122357450a08002","name":"Switch","style":{"label":true},"nodes":["c225900296ad0c10","4aa78bfea15dcb81","ed565f798a8eda39","7e28b1dd73096c94","20e2ab37b363af6f","154cfca9605f2e02"],"x":954,"y":100.7777777777776,"w":372,"h":302},{"id":"c204bffeb9586e0c","type":"group","z":"4122357450a08002","name":"Alert","style":{"label":true},"nodes":["81af89760de9a0cb","2424121f01400bad","60df4db827a07cd1","3bf3f008227375dc"],"x":92.85714285714289,"y":119,"w":573.1428571428571,"h":166.88888888888886},{"id":"bd9bc0934c864a12","type":"group","z":"4122357450a08002","name":"Power Consumption","style":{"label":true},"nodes":["ff171d353b3b7c26","adf832707e2d55d4","a326104cbf39e282","2643e0c10d4f37cd","21bfbcf46d849b4a","532e151783fdfc18","afa9d56ca6d86877","35bd8b667d0cd0b0","48ca8c77d1d604f4","3909ba9aec475d7d","d97f882db5b13980","badffcb2471c15bc","c4c32836bcf47158","d32d16208d3bd65c","d9a340e76589901f"],"x":94,"y":1199,"w":672,"h":362},{"id":"1419784081fd0a2a","type":"group","z":"4122357450a08002","name":"Power Consumption 2","style":{"label":true},"nodes":["1822f5762c234665","d9d0b40d14328e4a","2e5161cd046bd0f8","fe729967bd8e97d4","16a5a9a62c62e46c","3ed8ace4ba810692","cd1d55cfa109305e","918a30add749a6c9","607eebcc240eb992","cc781981efe5909b","6342763bfaf9e22d","a1e7ad4881e71619","66c281ad7aab565f","f1235dfbd2877a89","04eb7a331ec2f809","9202454f902d95ec","98a2e1d8b36a323e","40f090a47f536669"],"x":94,"y":839,"w":932,"h":342},{"id":"5434c8db97875db8","type":"mqtt-broker","name":"Local Mosquitto Broker","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d24acd3405bbde3f","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#9dbd00","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0fc2bf","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Dashboard Theme","default":"#4B7930","baseColor":"#e51515","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#e51515","edited":true},"page-titlebar-backgroundColor":{"value":"#ad1b1b","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#a5a1a1","edited":true},"group-backgroundColor":{"value":"#a5a1a1","edited":true},"widget-textColor":{"value":"#420000","edited":true},"widget-backgroundColor":{"value":"#ad1b1b","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"WaPoMa Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a0e70cf630f95cfa","type":"ui_tab","name":"Monitoring Dashboard","icon":"fa-tachometer","order":2,"disabled":false,"hidden":false},{"id":"843f58e2df199b0c","type":"ui_group","name":"Water Supply","tab":"a0e70cf630f95cfa","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"4d3799b0c7be5022","type":"mqtt-broker","name":"Server Broker","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"aa83573eeff91985","type":"ui_group","name":"Water Level","tab":"a0e70cf630f95cfa","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"f5744bf550a98188","type":"ui_group","name":"Title Dashboard","tab":"a0e70cf630f95cfa","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"88a76196f47c4fb0","type":"ui_group","name":"Flow Rate","tab":"a0e70cf630f95cfa","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"a73f9c1e0ca3f401","type":"ui_group","name":"","tab":"a0e70cf630f95cfa","order":6,"disp":false,"width":"7","collapse":false,"className":""},{"id":"b58e3d43adbc1d5b","type":"ui_group","name":"Energy Consumption","tab":"a0e70cf630f95cfa","order":5,"disp":true,"width":7,"collapse":false,"className":""},{"id":"d5de3d986ce219a0","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"sensor_data","tz":"","charset":"UTF8"},{"id":"e78c224f186e3b60","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":2,"width":1,"height":1},{"id":"4a65713bbb0b9d68","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":4,"width":1,"height":1},{"id":"ba39e08a37c80d44","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":6,"width":1,"height":1},{"id":"0d7ec45a54f4cc2b","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":8,"width":1,"height":1},{"id":"ab7c6b4653fb5ad4","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":10,"width":2,"height":1},{"id":"1549f09444ffcc19","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":12,"width":2,"height":1},{"id":"7ad9531feee80454","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":13,"width":2,"height":1},{"id":"380f843bfdca649f","type":"ui_spacer","z":"4122357450a08002","name":"spacer","group":"a73f9c1e0ca3f401","order":14,"width":2,"height":1},{"id":"4aa78bfea15dcb81","type":"mqtt out","z":"4122357450a08002","g":"0432f51d885ffb86","name":"Relay1","topic":"relay/control1/set","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d3799b0c7be5022","x":1200,"y":197.33333333333326,"wires":[]},{"id":"ed565f798a8eda39","type":"ui_switch","z":"4122357450a08002","g":"0432f51d885ffb86","name":"GH Switch","label":"Greenhouse","tooltip":"","group":"843f58e2df199b0c","order":1,"width":7,"height":3,"passthru":true,"decouple":"false","topic":"relay/control1/set","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"check","oncolor":"green","offvalue":"off","offvalueType":"str","officon":"close","offcolor":"red","animate":true,"className":"greenhouse","x":1050,"y":280,"wires":[["4aa78bfea15dcb81","20e2ab37b363af6f"]]},{"id":"c225900296ad0c10","type":"ui_switch","z":"4122357450a08002","g":"0432f51d885ffb86","name":"AQ Switch","label":"Aquaponics","tooltip":"","group":"843f58e2df199b0c","order":2,"width":7,"height":3,"passthru":true,"decouple":"false","topic":"relay/control2/set","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"check","oncolor":"green","offvalue":"off","offvalueType":"str","officon":"close","offcolor":"red","animate":true,"className":"","x":1090,"y":320,"wires":[["7e28b1dd73096c94","154cfca9605f2e02"]]},{"id":"7e28b1dd73096c94","type":"mqtt out","z":"4122357450a08002","g":"0432f51d885ffb86","name":"Relay2","topic":"relay/control2/set","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d3799b0c7be5022","x":1240,"y":261.7777777777776,"wires":[]},{"id":"179e2722496291ef","type":"mqtt in","z":"4122357450a08002","g":"3250ade96117be0c","name":"Distance","topic":"distance/level","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":320,"y":440,"wires":[["7c543bf5887bc3f6","741c83b4b77cb2c1","2f2f66f98182fbfc","666ba0e36da44772"]]},{"id":"c69882fab715ccd4","type":"mqtt in","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"Flow Rate","topic":"flow/rate","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":700,"wires":[["f94c8532e361b5ce","fbbf073e058d7c39","406f0218651a0b06","61cc6ea8f0d66956"]]},{"id":"926e486b17f12cb2","type":"ui_template","z":"4122357450a08002","group":"f5744bf550a98188","name":"Dashboard Style","order":1,"width":0,"height":0,"format":"<style>\n\n* {\n    background: none !important;\n}\n\n    button, text, tspan {\n        -webkit-user-select: none !important;\n    }\n\n    body {\n        background: transparent !important;\n\n        background: -webkit-linear-gradient(\n            135deg, \n            #fdfcfb 0%, \n            #e2d1c3 100%\n        ) !important;\n        \n        -webkit-touch-callout: none !important;\n        color: #fffff !important;\n        padding-top:5px !important;\n    }\n\n    p.nr-dashboard-cardtitle {\n        border-bottom-style: outset !important;\n        font-family: rockwell !important;\n        border-width: 4px !important;\n        font-size: 21px;\n    }\n    body.nr-dashboard-theme md-content md-card{}\n\n    body.nr-dashboard-theme md-toolbar  {\n    position: relative !important;\n    width: 100% !important;\n    margin: 0 auto !important;\n    background-color: rgba(133, 116, 95, 0.6) !important;\n    border-style: none !important;\n    }\n    \n    ui-card-panel {\n        background-color: rgba(133, 116, 95, 0.3) !important;\n        border:none !important;\n        border-radius: 10px !important;\n        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n      }\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        font-weight: bold !important\n    }\n    .md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {\n        font-weight: bold !important;\n        color: black !important;\n        font-family: Verdana !important;\n        font-size: 22px;\n    }\n    .layout-align-space-between, .layout-align-space-between-center, .layout-align-space-between-end,\n.layout-align-space-between-start, .layout-align-space-between-center {\n    font-weight:bold !important;\n    font-size: 20px !important;\n    font-family: cambria !important;\n    color: black !important;\n}\n    .nr-dashboard-theme .nr-dashboard-gauge-titlel, .nr-dashboard-theme .nr-dashboard-chart-titlel, .nr-dashboard-theme .nr-dashboard-gauge-titlem {\n        color: red !important;\n        font-family: \"Lucida Bright\", Georgia, serif;\n    }\n    .nr-dashboard-template p, .nr-dashboard-template h1, .nr-dashboard-template h2, .nr-dashboard-template h3,\n    .nr-dashboard-template h4{\n        background: none !important;\n        text-align: center !important;\n        font-weight: 600 !important;\n        margin: 2px 0px 14px 0px !important;\n        z-index: 1 !important;\n    }\n    .nr-dashboard-gauge text{ \n        font-family: 'arial black' !important;\n    }\n    .nr-dashboard-text p {\n          font-size:16px !important;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":1150,"y":700,"wires":[[]]},{"id":"7c543bf5887bc3f6","type":"ui_gauge","z":"4122357450a08002","g":"3250ade96117be0c","name":"","group":"aa83573eeff91985","order":1,"width":7,"height":6,"gtype":"wave","title":"Tank Level (%)","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#2388a9","#0074f0","#001eff"],"seg1":"","seg2":"","diff":false,"className":"","x":521.1428571428571,"y":401.288888888889,"wires":[]},{"id":"fbbf073e058d7c39","type":"ui_chart","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"Flow Rate","group":"88a76196f47c4fb0","order":2,"width":7,"height":6,"label":"Time Series Plot","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"1","removeOlderPoints":"60","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#7c9cc5","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":500,"y":660,"wires":[[]]},{"id":"741c83b4b77cb2c1","type":"ui_chart","z":"4122357450a08002","g":"3250ade96117be0c","name":"Level","group":"aa83573eeff91985","order":2,"width":7,"height":6,"label":"Time Series Plot","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#7c9cc5","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":511.1428571428571,"y":461.288888888889,"wires":[[]]},{"id":"f94c8532e361b5ce","type":"ui_gauge","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"","group":"88a76196f47c4fb0","order":1,"width":7,"height":6,"gtype":"gage","title":"Flow Rate","label":"L/min","format":"{{value}}","min":0,"max":"30","colors":["#ffffff","#fbad04","#ff0000"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":720,"wires":[]},{"id":"81af89760de9a0cb","type":"ui_toast","z":"4122357450a08002","g":"c204bffeb9586e0c","position":"dialog","displayTime":"30","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":550,"y":200,"wires":[[]]},{"id":"2424121f01400bad","type":"mqtt in","z":"4122357450a08002","g":"c204bffeb9586e0c","name":"Alert","topic":"level/alert","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":168.8571428571429,"y":244.88888888888886,"wires":[["60df4db827a07cd1"]]},{"id":"60df4db827a07cd1","type":"change","z":"4122357450a08002","g":"c204bffeb9586e0c","name":"Notification Alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"Water is at Critical Level!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["81af89760de9a0cb","3bf3f008227375dc"]]},{"id":"3bf3f008227375dc","type":"debug","z":"4122357450a08002","g":"c204bffeb9586e0c","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":160,"wires":[]},{"id":"2f2f66f98182fbfc","type":"debug","z":"4122357450a08002","g":"3250ade96117be0c","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":521.1428571428571,"y":361.288888888889,"wires":[]},{"id":"406f0218651a0b06","type":"debug","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":620,"wires":[]},{"id":"20e2ab37b363af6f","type":"debug","z":"4122357450a08002","g":"0432f51d885ffb86","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":141.7777777777776,"wires":[]},{"id":"154cfca9605f2e02","type":"debug","z":"4122357450a08002","g":"0432f51d885ffb86","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":361.7777777777776,"wires":[]},{"id":"ff171d353b3b7c26","type":"mqtt in","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"Power_1","topic":"power/apparent1","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":1240,"wires":[["21bfbcf46d849b4a","48ca8c77d1d604f4"]]},{"id":"adf832707e2d55d4","type":"mqtt in","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"Power_2","topic":"power/apparent2","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":1300,"wires":[["532e151783fdfc18","3909ba9aec475d7d"]]},{"id":"a326104cbf39e282","type":"mqtt in","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"Power_3","topic":"power/apparent3","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":1360,"wires":[["afa9d56ca6d86877","d97f882db5b13980"]]},{"id":"2643e0c10d4f37cd","type":"mqtt in","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"Power_4","topic":"power/apparent4","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":1420,"wires":[["35bd8b667d0cd0b0","badffcb2471c15bc"]]},{"id":"21bfbcf46d849b4a","type":"ui_gauge","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"","group":"a73f9c1e0ca3f401","order":1,"width":3,"height":2,"gtype":"gage","title":"Power 1","label":"Watts","format":"{{value}}","min":0,"max":"1000","colors":["#0015b3","#0015b3","#0015b3"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":1240,"wires":[]},{"id":"532e151783fdfc18","type":"ui_gauge","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"","group":"a73f9c1e0ca3f401","order":3,"width":3,"height":2,"gtype":"gage","title":"Power 2","label":"Watts","format":"{{value}}","min":0,"max":"1000","colors":["#0015b3","#0015b3","#0015b3"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":1300,"wires":[]},{"id":"afa9d56ca6d86877","type":"ui_gauge","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"","group":"a73f9c1e0ca3f401","order":5,"width":3,"height":2,"gtype":"gage","title":"Power 3","label":"Watts","format":"{{value}}","min":0,"max":"1000","colors":["#0015b3","#0015b3","#0015b3"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":1360,"wires":[]},{"id":"35bd8b667d0cd0b0","type":"ui_gauge","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"","group":"a73f9c1e0ca3f401","order":7,"width":3,"height":2,"gtype":"gage","title":"Power 4","label":"Watts","format":"{{value}}","min":0,"max":"1000","colors":["#0015b3","#0015b3","#0015b3"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":1420,"wires":[]},{"id":"48ca8c77d1d604f4","type":"debug","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1280,"wires":[]},{"id":"3909ba9aec475d7d","type":"debug","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1340,"wires":[]},{"id":"d97f882db5b13980","type":"debug","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1400,"wires":[]},{"id":"badffcb2471c15bc","type":"debug","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1460,"wires":[]},{"id":"1822f5762c234665","type":"mqtt in","z":"4122357450a08002","g":"1419784081fd0a2a","name":"Total Power","topic":"power/total","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":270,"y":980,"wires":[["2e5161cd046bd0f8","16a5a9a62c62e46c","cd1d55cfa109305e","6342763bfaf9e22d","a1e7ad4881e71619"]]},{"id":"d9d0b40d14328e4a","type":"mqtt in","z":"4122357450a08002","g":"1419784081fd0a2a","name":"Total Current","topic":"current/total","qos":"2","datatype":"auto-detect","broker":"4d3799b0c7be5022","nl":false,"rap":true,"rh":0,"inputs":0,"x":270,"y":1120,"wires":[["3ed8ace4ba810692","fe729967bd8e97d4","607eebcc240eb992"]]},{"id":"2e5161cd046bd0f8","type":"ui_gauge","z":"4122357450a08002","g":"1419784081fd0a2a","name":"","group":"b58e3d43adbc1d5b","order":1,"width":7,"height":6,"gtype":"gage","title":"Total Load","label":"Watts","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":510,"y":960,"wires":[]},{"id":"fe729967bd8e97d4","type":"ui_gauge","z":"4122357450a08002","g":"1419784081fd0a2a","name":"","group":"a73f9c1e0ca3f401","order":11,"width":3,"height":2,"gtype":"gage","title":"Current","label":"Amperage","format":"{{value}}","min":0,"max":"20","colors":["#00ffcc","#00ffcc","#00ffcc"],"seg1":"","seg2":"","diff":false,"className":"","x":460,"y":1100,"wires":[]},{"id":"16a5a9a62c62e46c","type":"debug","z":"4122357450a08002","g":"1419784081fd0a2a","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":920,"wires":[]},{"id":"3ed8ace4ba810692","type":"debug","z":"4122357450a08002","g":"1419784081fd0a2a","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1060,"wires":[]},{"id":"666ba0e36da44772","type":"json","z":"4122357450a08002","g":"3250ade96117be0c","name":"","property":"payload","action":"","pretty":false,"x":491.1428571428571,"y":501.288888888889,"wires":[["1e1d025390b94559"]]},{"id":"1e1d025390b94559","type":"function","z":"4122357450a08002","g":"3250ade96117be0c","name":"Send ultrasonic data to DB","func":"var src = msg.payload;\nmsg.topic = 'INSERT INTO ultrasonic (level, datetime) VALUES (' + src + ',NOW());'\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":741.1428571428571,"y":441.288888888889,"wires":[["bd15825579397b89"]]},{"id":"787fb420537a3ba7","type":"function","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"Send flow sensor data to DB","func":"var src = msg.payload;\nmsg.topic = 'INSERT INTO flowsensor (flowrate, datetime) VALUES (' + src + ',NOW());'\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":700,"wires":[["bd15825579397b89"]]},{"id":"61cc6ea8f0d66956","type":"json","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"","property":"payload","action":"","pretty":false,"x":490,"y":760,"wires":[["787fb420537a3ba7"]]},{"id":"cd1d55cfa109305e","type":"json","z":"4122357450a08002","g":"1419784081fd0a2a","name":"","property":"payload","action":"","pretty":false,"x":470,"y":1000,"wires":[["918a30add749a6c9"]]},{"id":"918a30add749a6c9","type":"function","z":"4122357450a08002","g":"1419784081fd0a2a","name":"Send power data to DB","func":"var src = msg.payload;\nmsg.topic = 'INSERT INTO apparentpower (power, datetime) VALUES (' + src + ',NOW());'\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":960,"wires":[["bd15825579397b89"]]},{"id":"607eebcc240eb992","type":"json","z":"4122357450a08002","g":"1419784081fd0a2a","name":"","property":"payload","action":"","pretty":false,"x":470,"y":1140,"wires":[["cc781981efe5909b"]]},{"id":"cc781981efe5909b","type":"function","z":"4122357450a08002","g":"1419784081fd0a2a","name":"Send ct sensor data to DB","func":"var src = msg.payload;\nmsg.topic = 'INSERT INTO ctsensor (current, datetime) VALUES (' + src + ',NOW());'\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1120,"wires":[["bd15825579397b89"]]},{"id":"bd15825579397b89","type":"mysql","z":"4122357450a08002","mydb":"d5de3d986ce219a0","name":"Data logger","x":1150,"y":780,"wires":[[]]},{"id":"6342763bfaf9e22d","type":"ui_chart","z":"4122357450a08002","g":"1419784081fd0a2a","name":"","group":"b58e3d43adbc1d5b","order":2,"width":7,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":880,"wires":[[]]},{"id":"a1e7ad4881e71619","type":"function","z":"4122357450a08002","g":"1419784081fd0a2a","name":"averageConsumption","func":"if (!context.hasOwnProperty('accumulator')) {\n    context.accumulator = 0;\n}\nlet value = Number(msg.payload);\ncontext.accumulator += value;\ncontext.accumulator = Math.round(context.accumulator * 100) / 100; \nmsg.payload = context.accumulator + ' Wh';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1020,"wires":[["66c281ad7aab565f","04eb7a331ec2f809"]]},{"id":"66c281ad7aab565f","type":"ui_text","z":"4122357450a08002","g":"1419784081fd0a2a","group":"b58e3d43adbc1d5b","order":3,"width":0,"height":0,"name":"","label":"Daily Average Consumption:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"6","color":"#000000","x":880,"y":1000,"wires":[]},{"id":"f1235dfbd2877a89","type":"function","z":"4122357450a08002","g":"1419784081fd0a2a","name":"randD","func":"let randomNumber = Math.random() * 100; // Generate a random number between 0 and 100\nrandomNumber = Math.round(randomNumber * 100) / 100; // Round the number to two decimal places\n\nmsg.payload = randomNumber;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1040,"wires":[[]]},{"id":"04eb7a331ec2f809","type":"debug","z":"4122357450a08002","g":"1419784081fd0a2a","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1040,"wires":[]},{"id":"9202454f902d95ec","type":"inject","z":"4122357450a08002","g":"1419784081fd0a2a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1040,"wires":[["f1235dfbd2877a89"]]},{"id":"c4c32836bcf47158","type":"ui_template","z":"4122357450a08002","g":"bd9bc0934c864a12","group":"a73f9c1e0ca3f401","name":"Max current","order":9,"width":0,"height":0,"format":"<div class = \"curr\"><p class = \"max\">Maximum Current</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":250,"y":1480,"wires":[[]]},{"id":"98a2e1d8b36a323e","type":"function","z":"4122357450a08002","g":"1419784081fd0a2a","name":"randW","func":"// Function node in Node-RED\nconst min = 500; // Minimum value for the random number\nconst max = 1000; // Maximum value for the random number\n\n// Generate a random number between min and max (inclusive)\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Output the random number\nmsg.payload = randomNumber;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[[]]},{"id":"40f090a47f536669","type":"inject","z":"4122357450a08002","g":"1419784081fd0a2a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":920,"wires":[["98a2e1d8b36a323e"]]},{"id":"d32d16208d3bd65c","type":"function","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"randW","func":"// Function node in Node-RED\nconst min = 120; // Minimum value for the random number\nconst max = 400; // Maximum value for the random number\n\n// Generate a random number between min and max (inclusive)\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Output the random number\nmsg.payload = randomNumber;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1520,"wires":[[]]},{"id":"d9a340e76589901f","type":"inject","z":"4122357450a08002","g":"bd9bc0934c864a12","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1520,"wires":[["d32d16208d3bd65c"]]},{"id":"6a98447d298b883b","type":"function","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"randD","func":"let randomNumber = Math.random() * 30; // Generate a random number between 0 and 30\nrandomNumber = Math.round(randomNumber * 100) / 100; // Round the number to two decimal places\n\nmsg.payload = randomNumber;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":620,"wires":[[]]},{"id":"1e26f8c9506d7469","type":"inject","z":"4122357450a08002","g":"88bfe5fc9fc6d9b0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":620,"wires":[["6a98447d298b883b"]]},{"id":"59226919131213ea","type":"function","z":"4122357450a08002","g":"3250ade96117be0c","name":"randD","func":"let randomNumber = Math.random() * 100; // Generate a random number between 0 and 30\nrandomNumber = Math.round(randomNumber * 100) / 100; // Round the number to two decimal places\n\nmsg.payload = randomNumber;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":380,"wires":[[]]},{"id":"f15db44dca940873","type":"inject","z":"4122357450a08002","g":"3250ade96117be0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":380,"wires":[["59226919131213ea"]]}]